<ion-view view-title="SSK Livno">
  <ion-content>
   <h3>Misija</h3>
<p>Uspješno i odgovorno obavljamo naš odgojno – obrazovni zadatak, razvijajuci kod naših ucenika profesionalne, strucne, društvene i radne sposobnosti, koje su temeljno orijentirane prema radu i pripremi za daljnje obrazovanje.</p>
<h3>Vizija</h3>
<p>Mi smo profesionalan i uspješan regionalni centar strukovnog obrazovanja i usavršavanja s visokim i mjerljivim rezultatima, te otvorenom suradnjom s partnerima.</p>
<h3>Oznaka vizije</h3>
<ul>
<li>Broj učenika koji studiraju. </li>
<li>Broj strukovno osposobljenih ucenika koji rade u svojoj struci. </li>
<li>Broj osvojenih nagrada na natjecanjima.</li>
<li>Broj obrazovnih zanimanja.</li>
<li>Osobni i poslovni uspjeh naših učenika.</li>
</ul>
<h3>Obećavajuća korist naspram interesnih grupa</h3>
<ul>
<li>Nudimo kvalitetno, visoko normirano obrazovanje prilagodeno tržištu rada i razvoju gospodarstva.</li>
<li>Našim ucenicima nudimo obrazovanje, koje razvija kreativnost i inovativnost, potice razlicite sklonosti, cime se oblikuje osoba sposobna za društveni i poslovni razvoj. </li>
<li>Našim ucenicima prenosimo strukovne, metodicke, eticne, komunikativne i društvene sposobnosti.</li>
<li>Potičemo izgradnju znanja, mišljenja i djelovanja od naših učenika, te samostalno učenje i stvaranje. </li>
<li>Njegujemo i gradimo međusobnu suradnju i dijalog s vanjskim partnerima, drugim školama i nadređenim ustanovama.</li>
<li>Svojim aktivnostima potičemo razvoj gospodarstva i tržišta rada.</li>
<li>Prekvalifikacijom i dokvalifikacijom nudimo razne mogućnosti daljnjeg obazovanja.</li>
<li>Postavili smo dobre temelje za nastavak strukovnog i fakultetskog obrazovanja.</li>
</ul>
<h3>Vrijednosti i pravila</h3>
<ul>
<li>Nudimo raznolike vrijednosti, tolerancija, spremnost na kompromise i kritiku, temelji su našeg uspješnog djelovanja.</li>
<li>Postavljamo i provodimo ciljeve, zadatke i pravila.</li>
<li>Radimo zajedno i odgovorno za dobrobit naših klijenata.</li>
<li>Stvaramo dobru sliku škole.</li>
<li>Poistovjećujemo se s našom školom.</li>
<li>Mi smo partneri našim klijentima.</li>
</ul>
  </ion-content>
</ion-view>
